.quote {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.quote p {
  margin: 4rem;
  padding: 0;
  text-align: center;
}

.welcome {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.welcome h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 5rem;
  padding: 0;
  text-align: center;
}

.welcome p {
  margin: 4rem;
  font-size: 2rem;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .quote {
    font-size: 1rem;
    margin: auto;

  }

  .welcome {
    margin: auto;
  }

  .welcome h1 {
    font-size: 2rem;
  }

  .welcome p {
    margin: 2rem;
    font-size: 1rem;
  }

}
  
