
.quote {
  font-size: 2.5rem;
  margin-top: 3rem;
  padding: 0.2rem;
  text-align: center;
  background-color: rgb(64, 64, 72);
  border-radius: 50px;
}

.quote p {
  margin: 8rem;
  padding: 0;
  text-align: center;
}

.welcome {
  padding: 20px;
  border-radius: 50px;
  margin: 2rem;
  background-color: rgb(64, 64, 72);
}

.welcome h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 5rem;
  padding: 0;
  text-align: center;
}

.welcome p {
  margin: 4rem;
  font-size: 2rem;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .quote {
    font-size: 1.2rem;
    margin-top: 5rem;
  }

  .quote p {
    margin: 2rem;
  }

  .welcome {
    padding: 10px;
  }

  .welcome h1 {
    font-size: 2rem;
  }

  .welcome p {
    margin: 2rem;
    font-size: 1rem;
  }
}
